!database
database/*
!database/.gitkeep

!logs
logs/*
!logs/nginx
logs/nginx/*
!logs/symfony
logs/symfony/*
!logs/*/.gitkeep

!symfony/var
symfony/var/*
!symfony/var/log
symfony/var/log/*
!symfony/var/log/.gitkeep

*.cache
.idea/
*.DS_Store
*~
