
###> symfony/framework-bundle ###
/.env.local
/.env.*.local
/public/bundles/
#/var/  ## uncomment that to keep the .gitkeep file in var/log/.gitkeep
/vendor/
###< symfony/framework-bundle ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###
